<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendor/bootstrap.css">
  </head>
  <body>
    <%= error %>
  </body>
</html>
