<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendor/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h3 class="display-5">Xin chào bạn đã đến với thế giới của chúng tôi</h3>
                  <hr class="my-2">
                  <% if(typeof user !== 'object'){ %>
                  <div>
                    <p class="lead">Kết nối với chúng tôi ngay nhé</p>
                    <hr class="my-2">
                    <a class="btn btn-primary btn-lg" href="/login" role="button">Đăng nhập ngay</a>
                    <a class="btn btn-primary btn-lg" href="/register" role="button">Đăng ký tài khoản</a>
                  </div>
                  <%}else{%>
                  <div>
                      <p class="lead">Xin chào <%= user.username %></p>
                      <hr class="my-2">
                    <a class="btn btn-primary btn-lg" href="/logout" role="button">Đăng xuất</a>
                  </div>
                  <%}%>
                </div>
              </div>
        </div>
      </div>
    </div>
    <script src="/vendor/bootstrap.js"></script>
  </body>
</html>
